<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillForce</title>
    <link rel="stylesheet" href="./../static/css/index.css">
</head>
<body>
    <header class="header">
         <div class="together">
        <div class="logo">
            <div><img src="#" alt="S"></div>
            <div><a href="#" class="link-course">SkillForce</a></div>
        </div>
            <a class="link-course" href="#">Создать курс</a>
           </div>
        <div class="search">

            <form class="form-search" action="#">
                <button class="button-search"><img src="../static/img/109164.jpg" alt="S"></button>

                <input class="search-course" type="text" placeholder="Найти">

            </form>
        </div>
        <div class="account">
            <div class="profile"><a href="#" class="link-course">MyName</a></div>
                <div><img src="#" alt="S"></div>


        </div>
    </header>
    <div class="catalog">
        <div style="margin-bottom: 12px;">
            <a href="#" class="link-catalog">Каталог</a>
        </div>
        <div class="catalog-grid">
            <div class="catalog-mini">
            <select class="catalog-select-one">
                <option class="catalog-select">Какое направление?</option>
            </select>
            <select class="catalog-select-one">
                <option class="catalog-select">Что изучать?</option>
            </select>
            <select class="catalog-select-one">
                <option class="catalog-select">Какая цель?</option>
            </select>
            </div>
            <div class="catalog-button">
            <button class="catalog-button" href="#">Фильтры</button>
                </div>
        </div>
        </div>
        <div class="card">
            <div class="link-card">
                <div class="up">
                <img class="img-card" src="./../static/img/обложка-3.jpg" alt="S">
                    <img class="img-up" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                    <div>
                        <p class="time" style="margin:0; opacity: 1">144 ч</p>
                    <button class="btn-up"></button>
                    </div>
                    <div>
                        <p class="people" style="margin:0; opacity: 1">700</p>
                    <button class="btn-up-2"></button>
                    </div>
                    </div>
                    <div class="middle">
                <p>Приветррррррррррррррррррррр</p>
                        </div>

                <div class="bottom">
                    <div class="left">
                <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                        <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                        <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                        <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                        <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                    </div>
                    <div class="right">
                        2500 руб.
                    </div>
                    </div>
            </div>
            <div class="link-card">
                <div class="up">
                <img class="img-card" src="./../static/img/обложка-3.jpg" alt="S">
                    <img class="img-up" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                    <div>
                        <p class="time" style="margin:0; opacity: 1">144 ч</p>
                    <button class="btn-up"></button>
                    </div>
                    <div>
                        <p class="people" style="margin:0; opacity: 1">700</p>
                    <button class="btn-up-2"></button>
                    </div>
                    </div>
                    <div class="middle">
                <p>Приветррррррррррррррррррррр</p>
                        </div>

                <div class="bottom">
                    <div class="left">
                <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                        <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                        <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                        <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                        <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                    </div>
                    <div class="right">
                        2500 руб.
                    </div>
                    </div>
            </div>
            <div class="link-card">
                <div class="up">
                <img class="img-card" src="./../static/img/обложка-3.jpg" alt="S">
                    <img class="img-up" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                    <div>
                        <p class="time" style="margin:0; opacity: 1">144 ч</p>
                    <button class="btn-up"></button>
                    </div>
                    <div>
                        <p class="people" style="margin:0; opacity: 1">700</p>
                    <button class="btn-up-2"></button>
                    </div>
                    </div>
                    <div class="middle">
                <p>Привет</p>
                        </div>

                <div class="bottom">
                    <div class="left">
                <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                        <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                        <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                        <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                        <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                    </div>
                    <div class="right">
                        2500 руб.
                    </div>
                    </div>
            </div>
            <div class="link-card">
                <div class="up">
                <img class="img-card" src="./../static/img/обложка-3.jpg" alt="S">
                    <img class="img-up" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                    <div>
                        <p class="time" style="margin:0; opacity: 1">144 ч</p>
                    <button class="btn-up"></button>
                    </div>
                    <div>
                        <p class="people" style="margin:0; opacity: 1">700</p>
                    <button class="btn-up-2"></button>
                    </div>
                    </div>
                    <div class="middle">
                <p>Привет</p>
                        </div>

                <div class="bottom">
                    <div class="left">
                <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                        <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                        <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                        <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                        <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                    </div>
                    <div class="right">
                        2500 руб.
                    </div>
                    </div>
            </div>
        </div>

<div class="card">
            <div class="link-card">
                <div class="up">
                <img class="img-card" src="./../static/img/обложка-3.jpg" alt="S">
                    <img class="img-up" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                    <div>
                        <p class="time" style="margin:0; opacity: 1">144 ч</p>
                    <button class="btn-up"></button>
                    </div>
                    <div>
                        <p class="people" style="margin:0; opacity: 1">700</p>
                    <button class="btn-up-2"></button>
                    </div>
                    </div>
                    <div class="middle">
                <p>Привет</p>
                        </div>

                <div class="bottom">
                    <div class="left">
                <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                        <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                        <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                        <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                        <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                    </div>
                    <div class="right">
                        2500 руб.
                    </div>
                    </div>
            </div>
            <div class="link-card">
                <div class="up">
                <img class="img-card" src="./../static/img/обложка-3.jpg" alt="S">
                    <img class="img-up" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                    <div>
                        <p class="time" style="margin:0; opacity: 1">144 ч</p>
                    <button class="btn-up"></button>
                    </div>
                    <div>
                        <p class="people" style="margin:0; opacity: 1">700</p>
                    <button class="btn-up-2"></button>
                    </div>
                    </div>
                    <div class="middle">
                <p>Привет</p>
                        </div>

                <div class="bottom">
                    <div class="left">
                <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                        <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                        <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                        <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                        <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                    </div>
                    <div class="right">
                        2500 руб.
                    </div>
                    </div>
            </div>
            <div class="link-card">
                <div class="up">
                <img class="img-card" src="./../static/img/обложка-3.jpg" alt="S">
                    <img class="img-up" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                    <div>
                        <p class="time" style="margin:0; opacity: 1">144 ч</p>
                    <button class="btn-up"></button>
                    </div>
                    <div>
                        <p class="people" style="margin:0; opacity: 1">700</p>
                    <button class="btn-up-2"></button>
                    </div>
                    </div>
                    <div class="middle">
                <p>Приветррррр</p>
                        </div>

                <div class="bottom">
                    <div class="left">
                <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                        <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                        <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                        <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                        <img class="heart" src="./../static/img/gljancevoe-serdechko.png" alt="S">
                    </div>
                    <div class="right">
                        2500 руб.
                    </div>
                    </div>
            </div>



        </div>
</body>
</html>