<div class="blur">
    <div id="window" class="window">
        <div class="form">
            <div class="logo">SkillForce</div>
            <div class="error"></div>
            <input type="email" placeholder="Почта" class="form__input">
            <input type="password" placeholder="Пароль" class="form__input">
            <input type="password" placeholder="Подтвердить пароль" class="form__input">
        </div>
        <div class="buttons">
            <button class="buttons__button active">Регистрация</button>
            <button class="buttons__button">Вход</button>
        </div>
    </div>
</div>