@import '@/style.scss';

.blockMenu {
  display: flex;
  flex-direction: row;
  width: fit-content;
  justify-content: end;
  min-width: auto;
  max-width: 300px;
  width: 100%;
}

.blockMenu2 {
  min-width: auto;
  max-width: 300px;
  width: 100%;
}

@media (max-width: 780px) {
    .blockMenu2 {
        width: fit-content;
    }
    .blockMenu {
        width: fit-content;
        justify-content: center;
    }
}
