@font-face {
  font-family: "Google Icon";
  src: url("Public/static/fonts/icons.woff2") format("woff2");
  font-weight: 400;
}

.google-icon {
  font-style: normal !important;
  font-family: Google Icon;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  user-select: none;
  color: #d0cbcb;
}

.w-16 {
  width: 16px;
  height: 16px;
  font-size: 16px;
}

.w-24 {
  width: 24px;
  height: 24px;
  font-size: 24px;
}

.w-40 {
  width: 40px;
  height: 40px;
  font-size: 40px;
}
