@import "@/style.scss";

.lesson--content {
  width: 660px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 56px;
  padding-bottom: 56px;
}

.lesson__test {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;;
  color: $color4;
  line-height: 150%;
  align-items: center;
}

.block-answer {
  display: grid;
  grid-template-columns: 15% 85%;
  border: 2px solid $color4;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: $color4;
}

.form-answer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 660px;
}

.block-answer__input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  border: 2px solid green;
  color: green;
}

.wrong {
  border: 2px solid #CC0202;
  color: #CC0202;
}


.page__check {
  width: 233px;
  height: 38px;
  border-radius: 16px;
  padding: 8px 16px 8px 16px;
  color: $color4;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  border: none;
  background: rgba(255, 101, 0, 0.5);
}

.page__check:hover {
  background: rgba(183, 181, 183, 1);
}

.text__input__test {
  all: unset;
  border: 1px solid #b1a9a9;
  border-radius: 16px;
  width: 660px;
  background-color: $color1;
  box-sizing: border-box;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color:rgba(183, 181, 183, 1);
}

