body {
    margin: 0px;
    background-color: #1E3E62;
}

.header {
    padding: 30px 40px 30px 40px;
    background-color: #0B192C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.head {
    display: flex;
    flex-direction: column;
}

.logo-and-create-curs {
    width: 320px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.logo__img {
    height: 40px;
    width: 40px;
}

.logo__text {
    color: #D0CBCB;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
}

.logo-and-create-curs__create-curs {
    color: #D0CBCB;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
}

.search-form {
    height: 32px;
    width: 448px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    background: rgba(147, 128, 128, 0.2);
    border-radius: 16px;
    padding: 4px 16px 4px 16px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

.search-form__icon {
    height: 19px;
    width: 19px;
    color: #B7B5B7;
}

.search-form__input {
    all: unset;
    width: 100%;
    color: #B7B5B7;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

.button-menu {
    display: flex;
    flex-direction: row;
}

.button {
    height: 40px;
    padding: 0px 16px 0px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    border-radius: 8px;
    cursor: pointer;
}

.button_type_menu {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    border-radius: 8px;
    cursor: pointer;
    padding: 0px 4px 0px 4px;

}

.button__text {
    color: #FFFFFF;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

.line {
    border-color: rgba(147, 128, 128, 0.21);
    margin-top: -1px;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    background-color: #0B192C;
    border-top: 1px solid rgba(147, 128, 128, 0.21);
    height: 200px;
    box-sizing: border-box;
}

.filter-select {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.headlines {
    font-size: 48px;
    color: #D0CBCB;
    font-family: "Open Sans", sans-serif;
}

.filter--type--selector {
    padding: 12px 16px 12px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    background-color: #1E3E62;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: #D0CBCB;
    border-radius: 16px;
    cursor: pointer;
}

.filter--type--button {
    padding: 12px 16px 12px 16px;
    background-color: #1E3E62;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: #D0CBCB;
    border-radius: 16px;
    gap: 8px;
    cursor: pointer;
}

.filter__icon {
    height: 24px;
    width: 24px;
}

.content {
    padding: 56px 200px 56px 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cards {
    width: 1188px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 279px;
    height: 360px;
    border-radius: 12px;
    background-color: #0B192C;
    box-sizing: border-box;
    gap: 2px;
    cursor: pointer;
}

.picture {
    border-radius: 12px;
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
    box-sizing: border-box;
}

.descriptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.description {
    display: flex;
    flex-direction: row;
    background: rgba(30, 62, 98, 0.9);
    border-radius: 24px;
    padding: 4px 16px 4px 16px;
    font-size: 16px;
    font-family: "Oxygen Mono", monospace;
    gap: 4px;
    color: #D0CBCB;
    height: fit-content;
}

.heart__img {
    height: 34px;
    width: 32px;
}

.description__icon {
    height: 14px;
    width: 14px;
}

.name {
    color: #D0CBCB;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
}

.rating-and-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FF6500;
    font-size: 16px;
    font-family: "Oxygen Mono", monospace;
}

.rating {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.rating__star {
    color: #D0CBCB;
    background-image: #D0CBCB;
}

.dont-content {
    color:#B7B5B7;
    font-size: 96px;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.reload {
    font-size: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #0B192C;
    padding: 16px;
    border-radius: 16px;
    cursor: pointer;
}

.card:hover {
    border: 2px solid #FF6500;
    padding: 6px;
}

.button_type_menu:hover {
    background-color: #B7B5B7;
    padding: 0px 16px 0px 16px;
    color: #0B192C;
}

.button_type_menu:hover .button__text {
    color: #0B192C;
    width: fit-content;
}

.button__text {
    overflow: hidden;
    width: 0px;
}

.avatar {
    position: relative;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.avatar:hover .avatar__img {
    opacity: 0.5;
}

.avatar:hover .avatar__icon {
    opacity: 1;
}

.avatar__img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.avatar__icon {
    z-index: 1;
    opacity: 0;
}

.heart__img:hover {
    color: linear-gradient(
    90deg,
    rgba(255, 101, 0, 1) 50%,
    rgba(208, 203, 203, 1) 50%)
}

.zone {
    position: fixed;
    top: 0;
    left: 0;
}

.blur {
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(43px);
    width: 100vw;
    height: 100vh;
}

.window {
    width: 493px;
    height: 350px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 2px solid #0B192C;
    border-bottom: none;
    align-items: center;
    border-radius: 24px 24px 0 0;
    padding: 8% 10% 24px 10%;
    color: #FFFFFF;
}

.logo {
    font-size: 48px;
    font-family: "Open Sans", sans-serif;
}

.form__input {
    all: unset;
    border-radius: 8px;
    padding-left: 8px;
    width: 100%;
    height: 32px;
    background-color: #0B192C;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.error {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.error_color_red {
    color: #CC0202;
}

.error__input {
    border: 2px solid #CC0202;
}

.buttons {
    display: flex;
    flex-direction: row;
    border-radius: 0 0 24px 24px;
    overflow: hidden;
}

.buttons__button {
    all: unset;
    width: 50%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #0B192C;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
}

.active {
    background-color: #FF6500;
}

.block-avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #B7B5B7;
    gap: 8px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.hidden {
    display: none !important;
}


.block-menu {
    display: flex;
    flex-direction: flow;
    width: 300px;
    justify-content: end;
}

.confirm-text {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
}