@import '@/style.scss';

.buttonTypeMenu {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $color6;
  font-size: 16px;
  width: 40px;
  box-sizing: border-box;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  border-radius: 8px;
  cursor: pointer;
  padding: 0px 4px 0px 4px;
}

.buttonText {
  color: $color6;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.buttonTypeMenu:hover {
  background-color: $color7;
  color: $color2;
}

.buttonTypeMenu:hover .buttonText {
  color: $color2;
}

.buttonText {
  overflow: hidden;
  width: 0px;
}

.buttonImg {
    display: inline;
}

@media (max-width: 780px) {
  .buttonText {
    width: 0px;
  }
}

@media (hover: none) {
  .buttonTypeMenu {
    outline: 2px solid $color1;
    ;
  }
  .buttonTypeMenu:hover {
    color: $color6;
    background-color: transparent;
    padding: 0px 4px 0px 4px;
  }
  .buttonTypeMenu:hover .buttonText {
    color: $color6;
  }
}
