<div class="button-menu" id="menu">
    {{ name }}
    <div class="avatar" id="avatar">
        <img src="../static/icons/menu.svg" alt="Меню" class="avatar__icon">
        <img src="../static/icons/avatar.png" alt="Аватарка" class="avatar__img">
    </div>
</div>