<div class="button-menu" id="menu">
    <div class="button_type_menu" id="button-close-menu">
        <div class="button__text">Свернуть</div>
        <img src="../static/icons/close-menu.svg" alt="Войти" class="button__img">
    </div>
    <div class="button_type_menu" id="button-profile">
        <div class="button__text">Профиль</div>
        <img src="../static/icons/profile.svg" alt="Войти" class="button__img">
    </div>
    <div class="button_type_menu" id="button-setting">
        <div class="button__text">Настройки</div>
        <img src="../static/icons/setting.svg" alt="Войти" class="button__img">
    </div>
    <div class="button_type_menu" id="button-logout">
        <div class="button__text">Выход</div>
        <img src="../static/icons/logout.svg" alt="Войти" class="button__img">
    </div>
</div>