<div class="blur">
    <div id="window" class="window">
        <div class="form">
            <div class="logo">SkillForce</div>
            <div class="error" id="error"></div>
            <input type="email" id="email" placeholder="Почта" class="form__input">
            <input type="text" id="name" placeholder="Псевдоним" class="form__input">
            <input type="password" id="password" placeholder="Пароль" class="form__input">
            <input type="password" id="password_admit" placeholder="Подтвердить пароль" class="form__input">
        </div>
        <div class="buttons">
            <button class="buttons__button active" id="sign-up">Регистрация</button>
            <button class="buttons__button" id="log-in">Вход</button>
        </div>
    </div>
</div>