@import "@/style.scss";

.profile {
  width: 614px;
  height: 672px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 56px;
}

.strings {
  display: grid;
  grid-template-columns: 184px 430px;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  color: $color6;
}

.text__input {
  all: unset;
  border: 1px solid #b1a9a9;
  border-radius: 16px;
  width: 403px;
  background-color: $color1;
  box-sizing: border-box;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.checkbox__input {
  border: 1px solid #b1a9a9;
  border-radius: 4px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  align-items: center;
  background: $color1;
  cursor: pointer;
}

.strings__avatar {
  display: grid;
  grid-template-columns: 184px 430px;
  height: 217px;
  justify-content: space-between;
  cursor: pointer;
  font-size: 20px;
  color: $color6;
}

.button__input {
  all: unset;
  border-radius: 16px;
  width: 117px;
  height: 38px;
  background-color: $color5;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 8px 16px 8px 16px;
}

.button__input:hover {
  opacity: 0.5;
}

.picture__load__delete {
  height: 185px;
  width: 160px;
}

.avatar__image {
  height: 160px;
  width: 160px;
  padding-top: 16px;
  padding-bottom: 8px;
}

.load__delete {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.text__decoration {
  text-decoration: underline;
}

.text__decoration:hover {
  text-decoration: none;
}

.image__input {
  display: none;
}

.changes {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  background-color: $color2;
  border-top: 1px solid rgba(147, 128, 128, 0.21);
  height: 200px;
  box-sizing: border-box;
}

.change-select {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 820 px;
  height: 102px;
  padding-left: 4px;
  padding-right: 4px;
}

.choose__type__button {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  color: $color4;
  border-radius: 16px;
  background-color: $color1;
  margin-top: auto;
  margin-bottom: auto;
  height: 32px;
  border: none;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.editing__icon {
  height: 24px;
  width: 24px;
  align-items: center;
}