@import '@/style.scss';

.blockMenu {
  display: flex;
  flex-direction: row;
  min-width: auto;
  max-width: 300px;
  width: 100%;
  justify-content: end;
  gap: 8px;
}

@media (max-width: 780px) {
    .blockMenu {
        flex-direction: column;
        width: fit-content;
        align-items: end;
        gap: 16px;
    }
}
